form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e7f1ff;
  color: #333;
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
  max-width: 400px;
}

button {
  background-color: #4b6cb7;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
}

button:hover {
  background-color: #395294;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin: 10px;
}
